useDynLib(BHTSpack)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "rbinom")
importFrom("stats", "rbeta")
importFrom("stats", "rgamma")
importFrom("stats", "rnorm")
importFrom("stats", "rmultinom")
importFrom("stats", "runif")
importFrom("stats", "var")
importFrom("stats", "rlnorm")
importFrom("stats", "uniroot")
importFrom("graphics", "layout")
importFrom("graphics", "plot")
importFrom("stats", "acf")
importFrom("stats", "sd")
import(R2HTML)
import(xtable)

